@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 30px;
  text-align: center;
}

#GeneralInfo {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'Press Start 2P', cursive; 
  display:flex;
  flex-direction: column;
  align-items: center;
}

#GeneralInfo #editbtn {
  width: 90px;
}

#GeneralInfo ul {
  list-style: none;
  margin: 0px 0px 20px 0px;
  padding: 0px;
}

#GeneralInfo ul li {
  margin: 10px;
}

#GeneralInfo input {
  padding: 5px;
  width: 100%;
}

#WorkExperience {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  padding: 20px 5vw;
  margin: 50px 0px;
}

#WorkExperience .nes-field {
  width: 100%
}

#WorkExperience .nes-input {
  margin-bottom: 20px;
  width: 100%
}


#WorkExperience .nes-field textarea{
  height: 150px;
  margin-bottom: 20px;
}

.buttons button {
  margin: 10px;
}

.WorkExperience li {
  margin-bottom: 10px;
}

.WorkExperienceEntry {
  margin: 10px 0px 30px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.WorkExperienceEntry ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.WorkExperienceEntry ul li {
  overflow:hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.WorkExperienceEntry button {
  width: 90px;
}