@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400&display=swap');

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #0d1e26;
  color:#41be6f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title h1{
  margin-left: 40px;
  text-align: center;
  font-weight: 200;
  font-size: 40px;
  border-bottom: 2px solid;
}

h2 {
  color: #ff9718;
}

#GeneralInfo {
  margin: 50px 20px;

}

#GeneralInfo ul {
  list-style: none;
  font-size: 20px;
  padding: 0px;
  margin-left: -20px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}